ul {
  list-style-type: none;
}

li {
  text-decoration: none;
}
img {
  height: 60px;
  width: 80px;
  border-radius: 8px;
  margin-top: 4px;
  margin-left: 0px;
}
h2:hover {
  color: #cb81d0;
}

.fact-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e0;
  padding: 20px;
  margin: 25px;
  border-radius: 5px;
  background-color: #f7f7f7;
  width: 500px;
}

.fact-item h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.fact-item p {
  margin-bottom: 20px;
}

.fact-item a {
  display: block;
  margin-bottom: 10px;
}

.fact-item button {
  margin-right: 1px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.fact-item button:last-child {
  background-color: #dc3545;
}

.approved-unapproved-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  font-size: larger;
  margin-top: 40px;
}

.facts-approving-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  align-self: center;
}

.displaying-facts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.approved-inputs {
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
  gap: 10px;
}

select {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
  border: 2px solid #cb81d0;
  border-radius: 25px;
  margin-top: 8px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  border: 1px solid white;
  border-radius: 2px;
  padding: 6px;
}

.column {
  border: 1px solid white;
  padding: 40px;
  background-color: #f7f7f7;
  border-radius: 2px;
  margin-top: 20px;
}

.fact-items-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;  
}

@media only screen and (max-width: 768px) {
  .fact-item {
    width: 80%;
    padding: 15px;
    margin: 15px 0;
  }

  .approved-inputs {
    flex-direction: column;
  }

  img {
    width: 100%;
    max-width: 80px;
    height: auto;
  }
}

.approved-inputs input,
.approved-inputs select {
  border: 2px solid white;
}

.fact-item input,
.fact-item select {
  border: 2px solid white;
}
input::placeholder {
  color: white;
}
textarea::placeholder {
  color: white;
}

