ul {
  list-style-type: none;
}

li {
  text-decoration: none;
}

.fact-item {
  border: 1px solid #e0e0e0;
  padding: 20px;
  margin: 25px;
  border-radius: 5px;
  background-color: #f7f7f7;
  width: 500px;
}

.fact-item h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.fact-item p {
  margin-bottom: 20px;
}

.fact-item a {
  display: block;
  margin-bottom: 10px;
}

.fact-item button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.fact-item button:last-child {
  background-color: #dc3545;
}


.approved-unapproved-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  font-size: larger ;
}

.facts-approving-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  align-self: center;
}

.displaying-facts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.approved-inputs {
  display: flex;
  gap: 10px;
}