.result-container {
  padding: 1em;
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}

.results-content {
  padding: 2rem;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 3rem auto;
  transition: transform 0.3s;
}

.results-content:hover {
  transform: translateY(-5px);
}

.correct,
.wrong {
  font-weight: bold;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  margin: 0.5rem 0;
  display: inline-block;
}

.correct {
  background-color: #e6ffe6;
  color: #4caf50;
}

.wrong {
  background-color: #ffe6e6;
  color: #ff5252;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #cb81d0;
  border: none;
  padding: 0.7rem 1.5rem;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 0.8rem;
  font-weight: bold;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin-right: 0.5rem;
}

.userFact {
  font-weight: bold;
  margin-top: 1rem;
  display: block; 
  text-align: center;
}
