@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.hero {
  display: flex;    
  flex-wrap: wrap;   
  align-items: center;  
  justify-content: space-between; 
  width: 100vw;
  padding: 2% 5%;
  position: relative; 
}

.hero-image {
  width: 95%;
  height: auto;
  object-fit: cover;
  z-index: 1;
}

.hero-text {
  width: 50%;
  color: black;
  text-align: left;
  position: relative;
  margin-right: -100%;
  margin-top: -3%;
  z-index: 2;
}


.brand-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.start-btn {
  background-color: #cb81d0;
  border: none;
  padding: 0.7rem 1.5rem;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1.1rem;
  font-weight: bold;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 3;
  bottom: 100px;
}

.start-btn:hover {
  background-color: #ee8fb5;
}

.fun-fact {
  background-color: #fff;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  margin: 1rem;
  width: 70%;
}

.fun-fact h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.fun-fact p {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  line-height: 1.5;
}

.fun-fact:nth-child(odd) {
  float: left;
  clear: both;
}

.fun-fact:nth-child(even) {
  float: right;
}


.in-line {
  display: flex;
  flex-direction: row;
  justify-content: center ;
}

.chart {
  width: 400px;
  height: 300px;
  border-radius: 8px;
}

