.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  width: 40%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-buttons {
  margin-top: 20px;
}

.modal-button {
  margin: 0 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: white;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-button:hover {
  color: #cb81d0;
}

.header {
  background: linear-gradient(270deg, #ff6ec4, #7873f5, #d262e6);
  background-size: 600% 600%;
  animation: gradientBackground 15s ease infinite;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  height: 3em;
}

.nav {
  display: flex;
  gap: 0.7rem;
  position: relative;
}

.nav button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 25px;
}

.nav button:hover {
  background-color: white;
  color: #cb81d0;
  transform: scale(1.1);
}

.dropdown-menu {
  background: linear-gradient(270deg, #ff6ec4, #7873f5, #44d9e8);
  background-size: 600% 600%;
  animation: gradientBackground 15s ease infinite;
  position: absolute;
  top: 120%;
  right: -33px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding: 7px;
}

.brand-logo-container {
  cursor: pointer;
}
