.leaderboard-container {
  padding: 1em;
  background: linear-gradient(120deg, #f193fb7c 0%, #f1d9dc 100%);
  animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  background: linear-gradient(270deg, #cb81d0, #fecfef, #ee8fb5);
  background-size: 600% 600%;
  animation: gradientBackground 15s ease infinite;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  height: 3em;
}

nav button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 25px;
}

nav button:hover {
  background-color: white;
  color: #cb81d0;
  transform: scale(1.1);
}

table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
}

table,
th,
td {
  border: 2px solid #000000;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #cb81d0;
  color: white;
}

tbody tr:hover {
  background-color: #fecfef;
}
button {
  background-color: #219ebc;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #8ecae6;
}

.motivational-section {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #fedbff;
  border-radius: 10px;
}

.motivational-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

blockquote {
  margin: 0 1rem 0 0;
  padding: 1rem 1rem;
  border-left: 3px solid #cb81d0;
  background-color: #ffc4f2;
  font-style: italic;
  font-size: 1.1rem;
  flex: 1;
  border: 2px solid black;
  border-radius: 10px;
}

.motivational-image {
  width: 300px;
  height: auto;
  border-radius: 10px;
}
.motivational-image0 {
  margin-right: 35%;
}
.bla {
  font-weight: 600;
}

.avatar {
  width: 30px;
  height: auto;
  border-radius: 50%;
}

/* new */

.leaderboard-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  font-size: 2em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 10px;
  text-align: center;
  color: #333;
}

th {
  background-color: #e0e0e0;
}

tbody tr {
  transition: background-color 0.3s;
}

tbody tr:hover {
  background-color: #e0e0e0;
}

.current-user {
  background-color: #ffeb3b;
}

.avatar {
  border-radius: 50%;
  margin-right: 10px;
}

.motivational-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.motivational-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.motivational-image,
.motivational-image0 {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

blockquote {
  font-style: italic;
  color: #666;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #6200ea;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3700b3;
}

/* New Styles for Images */
animated-img {
  cursor: pointer;
  transition: transform 0.3s;
}

animated-img:hover {
  transform: scale(1.1);
}

/* Confetti styles */
.confetti {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

/* Toast Styles */
.ToastContainer__toast {
  border-radius: 10px !important;
}
