@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.loginContainer {
  width: 40%;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid white;
  border-radius: 15px;
  background-color: #f7f9fc;
  padding: 0.3em;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login h1 {
  font-size: 1.5rem;
  background: linear-gradient(270deg, #cb81d0, #fecfef, #ee8fb5);
  background-size: 200% 200%;
  animation: gradientAnimation 3s infinite;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  padding: 22px;
  margin-bottom: 10px;
}

.input {
  background-color: transparent;
  color: black;
  border: 1px solid #cb81d0;
  padding: 0.5;
  cursor: pointer;
  transition: all 0.3s;
  border: 2px solid #cb81d0;
  border-radius: 25px;
  margin-top: 8px;
  /* width: 80%; */
}

.input:hover {
  background-color: white;
  color: #cb81d0;
  transform: scale(1.05);
}

a {
  margin: 10px;
  color: rgb(85, 84, 84);
  text-decoration: none;
}

a:hover {
  color: #cb81d0;
  text-decoration: none;
}

button {
  background-color: #cb81d0;
  color: white;
  border: 2px solid #cb81d0;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 25px;
  margin-top: 8px;
}

button:hover {
  background-color: white;
  color: #cb81d0;
  transform: scale(1.05);
}

.input {
  display: block;
  margin-bottom: 10px;
}
