.loginContainer {
  width: 40%;
  height: 300px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #cb81d0;
  border-radius: 15px;
  font-family: Arial, sans-serif;
  background-color: #f7f9fc;
  padding: 1em;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.login {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login h1 {
  font-size: 1.5rem;
  /* margin-bottom: 5px; */
  background: linear-gradient(270deg, #cb81d0, #fecfef, #ee8fb5);
  color: white;
  font-weight: bold;
  border-radius: 6px;
  padding: 22px ;
}

.input {
  background-color: transparent;
  color: black;
  border: 1px solid #cb81d0;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
  border: 2px solid #cb81d0;
  border-radius: 25px;
  margin-top: 8px;
}

.input :hover {
  background-color: white;
  color: #cb81d0;
  transform: scale(1.05);
}

a {
  font-family:  Arial, sans-serif;
  margin: 10px;
  color: rgb(85, 84, 84);
  text-decoration: none;
 

}
a:hover {
  color: #cb81d0;
  text-decoration: none;
}

button {
  background-color: #cb81d0;
  color: white;
  border: 2px solid #cb81d0;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 25px;
  margin-top: 8px;
}

button:hover {
  background-color: white;
  color: #cb81d0;
  transform: scale(1.05);
}
